aside {
   display: none;
}

@media only screen and (min-width: 1024px) {
    aside {
        border-right: 1px solid gray;
        display: flex;
        flex-basis: 20%;
        flex-direction: column;
        padding: 1rem 1rem 0 0;
        width: 0;
    }

    main {
        flex-basis: 80%;
    }
}



